body{
  font-size:3rem;
  line-height: 1 !important;
}

/************************* Date Cell of Full Calendar *****************/
.fc .fc-daygrid-day-events {
margin: 0px;
}
.fc .fc-daygrid-day-number{
  padding:5px;
}
.fc .fc-daygrid-event{
  margin-top:0px;
}

/**************************** Grid ******************************/
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
border: 0px !important;
}

.fc .fc-daygrid-day-frame {
width: 10rem;
height: 5rem;
overflow: scroll;
margin: 0px 4px;
border-top: 2px solid #f0f0f0;
}
.fc .fc-daygrid-day-frame::-webkit-scrollbar {
  display:none;
}

.fc .fc-daygrid-day-frame:hover {
background-color: whitesmoke;
}
.fc .fc-daygrid-day.fc-day-today {
background-color: white;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
  background-color: #dbedfd;
}
