body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/************************* Outer-most container ****************/
.form-container {
  height: 100vh;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************************** Logo **************************/
.form-logo {
  margin-top: -70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 100% 100%;
  background-image: url(../images/logo.jpg);
}

.login-form h2 {
  margin: 0px;
}

/******************************* Form Body ***********************/
.login-form {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 10px auto;
  border-radius: 6px;
}

/********************************* Form Fields **********************/
.field {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}

.field input {
  width: 85%;
  margin: 5px;
  border: 0px solid transparent;
}
.field i {
  color: rgb(173, 169, 169);
}
.field input:focus {
  outline: none;
}

/********************************** Form Button *********************/
.form-button {
  width: 100%;
}
.form-button button {
  margin-top: 20px;
  width: 100%;
  background: #4e69e2;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
.field button:hover {
  cursor: pointer;
}

.field button:disabled {
  cursor: not-allowed;
}

.signup {
  color: blue;
  text-decoration: none;
}

/******************************* Error Messages *************************/
.alert {
  padding: 10px;
  width: 100%;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
  align-self: flex-start;
}

.error-dailog {
  color: #f8f5f5;
  background-color: #ee7983;
  border-color: #880411;
}
.success-dailog {
  color: #f5f8f5;
  background-color: #51b368;
  border-color: #0a8d29;
}
.dailog {
  color: #f5f8f5;
  background-color: #d4a747;
  border-color: #7e5d17;
}

/********************************** Background Animation **********************/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}