/**************************************** Transaction List Container *******************/
.transaction-list-box {
  max-height: 32vh;
  overflow: scroll;
}

.transaction-list-box::-webkit-scrollbar {
  display: none;
}

/***************************************** List Item **********************************/
.list-item {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
}

.list-item > span {
  width: 20%;
  padding-top: 7px;
}

.list-header {
  padding: 0px;
  color: rgb(23, 23, 204);
  background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;
}
.list-header > span {
  width: 28%;
  text-align: center;
}

.list-item.success {
  color: green;
}
.list-item.error {
  color: red;
}

.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
  cursor: pointer !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  position: relative !important;
  top: -7px !important;
  float: left !important;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 10px !important;
  line-height: 10px !important;
  align-items: center !important;
}

/****************************************** Edit Button ****************************/
.edit-icon {
  border: 0;
  background-color: transparent;
  color: #6767d0;
  font-size: 20px;
}
